<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Form</title>
</head>
<body>
    <form action="https://formsubmit.co/amine.latti1@gmail.com" method="POST">
        <input id="contact_name" type="text" name="name" required>
        <input id="contact_email" type="email" name="email" required>
        <input id="contact_content" type="text" name="content" required>
        <button id="contact_button" type="submit">Send</button>
    </form>
</body>
</html>