<h2 style="font-size:80px" id="Title">Hi,<br>Im Amine,<br>IT Student at EPITA!</h2>
<h2 style="font-size:20px" id="SubTitle">Front/back-end Developper / C# developper</h2>
<!-- CONTACT BUTTON --->

<!--################################################-->


{{> links data=linkData}}
{{#if message}} 
<h2 id="cookie">
    {{message}}    
</h2>
{{/if}}

{{> legal}}